.calendar {
    display: flex;
    margin-bottom: 16px;
  }
  
  .weekday {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80px;
  }
  
  .weekday p {
    text-align: center;
  }
  
  .weekday input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .weekday input:checked ~ label .day {
    border: 2px solid green;
    background-color: lightgreen;
    font-weight: bold;
  }
  
  .weekday input:checked ~ label .price {
    color: black;
    font-weight: bold;
  }
  
  .day {
    padding: 14px;
    margin: 0;
    border: 1px solid black;
    text-align: center;
  }
  
  .day:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
  }
  
  .day span {
    display: block;
    margin-bottom: 8px;
  }
  
  .day .price {
    color: green;
  }
  
  .btn-submit {
    display: block;
    color: white;
    background-color: rgba(82, 228, 91, 0.931);
    border-color:rgba(64, 184, 72, 0.931) ;
    padding: 3px 10px;
    border-radius: 8px;
  }
  