<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>PÉ NA ESTRADA</h1>
    <button>Passagens aéreas </button>
    <button>Hoteis/Acomodações</button>
    <button>Aluguel de carros </button>

    <button>Ajuda</button>
    


    <h2>COMEÇE SUA JORNADA</h2>
    <img src="../public/img/porDoSol" alt="Por do sol na montanha">
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>

    <h3>Melhores voos para o seu destino</h3>
    <p>Melhores tarifas para esse mês>>>>></p>
    <ol>
        <li><img src="" alt="">
            <h2>Buenos Aires</h2>
        </li>
        <li><img src="" alt="">
            <h2>Lisboa</h2>
        </li>
        <li><img src="" alt="">
            <h2>Santiano</h2>
        </li>
    </ol>

</body>

<footer>
    <a href="">
        <img src="../public/img/facebook.svg" alt="facebook">
    </a>
    <a href="">
        <img src="../public/img/instagram.svg" alt="instagram">
    </a>
    <a href="">
        <img src="../public/img/linkedin.svg" alt="linkedin">
    </a>
    <a href="">
        <img src="../public/img/youtube.svg" alt="youtube">

    </a>

</footer>



</html>