<html>

<%-include("parts/head.ejs") %>

<%-include("parts/header.ejs") %>


    <!-- PASSAGENS -->
  
    <div class="w3-container">
      <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <button type="radio">
         <img src="/img/lupa.png"></button>
        </div> -->
       
        </div>

        <body>
          <div id="app">
            <section class="calendar">
              <div class="weekday">
                <p>Dom</p>
                <p class="day">
                  <span>1</span>
                  <small class="price">R$ 10000,00</small>
                </p>
                <p class="day">
                  <span>8</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
              <div class="weekday">
                <p>Seg</p>
                <p class="day">
                  <span>2</span>
                  <small class="price">R$ 10000,00</small>
                </p>
                <p class="day">
                  <span>9</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
              <div class="weekday">
                <p>Ter</p>
                <p class="day">
                  <span>3</span>
                  <small class="price">R$ 10000,00</small>
                </p>
                <p class="day">
                  <span>10</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
              <div class="weekday">
                <p>Qua</p>
                <p class="day">
                  <span>4</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
              <div class="weekday">
                <p>Qui</p>
                <p class="day">
                  <span>5</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
              <div class="weekday">
                <p>Sex</p>
                <p class="day">
                  <span>6</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
              <div class="weekday">
                <p>Sáb</p>
                <p class="day">
                  <span>7</span>
                  <small class="price">R$ 10000,00</small>
                </p>
              </div>
            </section>
          </div>
          

        <!-- <h2>Consiga a melhor oferta!</h2>
        <p>Receba as ofertas e promoções.</p>
        <label>E-mail</label>
        <input class="w3-input w3-border" type="text" placeholder="Your Email address">
        <button type="button" class="w3-button w3-red w3-margin-top">Enviar</button> -->

    <!-- Contato -->
    <div class="w3-container">
      <h2 bold >Preço esse mês</h2>
      <p>Preço mais baixo estimado encontrados nos últimos 4 dias!</p>
      
      <!-- <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      <form action="https://www.w3schools.com/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required="" name="Name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required="" name="Email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required="" name="Message">
        </p>
        <p><button class="w3-button w3-black w3-padding-large" type="submit">ENVIAR MENSAGEM</button></p> -->
      </form>
    </div>


    <%-include("parts/footer.ejs") %>


  </body>

</html>