<html>
  
  <!-- inclui o head da pagina raiz -->
  <%-include("parts/head.ejs") %>

  <body class="w3-light-grey">

    <%-include("parts/header.ejs") %>
    <%-include("parts/subheader.ejs") %>


    <!-- // inclui o estilo lincando com o css -->
    <link rel="stylesheet" href="/css/passagens.css"> 
    
    <main>
      
      <!-- Calendário -->
      <div>
        <h2 bold >Preço esse mês</h2>
        <p>Preço mais baixo estimado encontrados nos últimos 4 dias!</p>
        <div id="app">
          <form>
            <section class="calendar">
              <div class="weekday">
                <p>Dom</p>
                <div>
                  <input type="radio" id="2022-10-01" name="data" value="2022-10-01" />
                  <label for="2022-10-01">
                    <p class="day">
                      <span>1</span>
                      <small class="price">R$ 800,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-08" name="data" value="2022-10-08" />
                  <label for="2022-10-08">
                    <p class="day">
                      <span>8</span>
                      <small class="price">R$ 560,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-01" name="data" value="2022-10-01" />
                  <label for="2022-10-01">
                    <p class="day">
                      <span>15</span>
                      <small class="price">R$ 730,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-01" name="data" value="2022-10-01" />
                  <label for="2022-10-01">
                    <p class="day">
                      <span>22</span>
                      <small class="price">R$ 450,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-01" name="data" value="2022-10-01" />
                  <label for="2022-10-01">
                    <p class="day">
                      <span>29</span>
                      <small class="price">R$ 790,00</small>
                    </p>
                  </label>
                </div>
              </div>
              <div class="weekday">
                <p>Seg</p>
                <div>
                  <input type="radio" id="2022-10-02" name="data" value="2022-10-02" />
                  <label for="2022-10-02">
                    <p class="day">
                      <span>2</span>
                      <small class="price">R$ 650,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-09" name="data" value="2022-10-09" />
                  <label for="2022-10-09">
                    <p class="day">
                      <span>9</span>
                      <small class="price">R$ 890,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-09" name="data" value="2022-10-09" />
                  <label for="2022-10-09">
                    <p class="day">
                      <span>16</span>
                      <small class="price">R$ 590,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-09" name="data" value="2022-10-09" />
                  <label for="2022-10-09">
                    <p class="day">
                      <span>23</span>
                      <small class="price">R$ 890,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-09" name="data" value="2022-10-09" />
                  <label for="2022-10-09">
                    <p class="day">
                      <span>30</span>
                      <small class="price">R$ 750,00</small>
                    </p>
                  </label>
                </div>
              </div>
              <div class="weekday">
                <p>Ter</p>
                <div>
                  <input type="radio" id="2022-10-03" name="data" value="2022-10-03" />
                  <label for="2022-10-03">
                    <p class="day">
                      <span>3</span>
                      <small class="price">R$ 640,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-10" name="data" value="2022-10-10" />
                  <label for="2022-10-10">
                    <p class="day">
                      <span>10</span>
                      <small class="price">R$ 340,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-10" name="data" value="2022-10-10" />
                  <label for="2022-10-10">
                    <p class="day">
                      <span>17</span>
                      <small class="price">R$ 900,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-10" name="data" value="2022-10-10" />
                  <label for="2022-10-10">
                    <p class="day">
                      <span>24</span>
                      <small class="price">R$ 450,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-10" name="data" value="2022-10-10" />
                  <label for="2022-10-10">
                    <p class="day">
                      <span>31</span>
                      <small class="price">R$ 390,00</small>
                    </p>
                  </label>
                </div>
              </div>
              <div class="weekday">
                <p>Qua</p>
                <div>
                  <input type="radio" id="2022-10-04" name="data" value="2022-10-04" />
                  <label for="2022-10-04">
                    <p class="day">
                      <span>4</span>
                      <small class="price">R$ 740,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-04" name="data" value="2022-10-04" />
                  <label for="2022-10-04">
                    <p class="day">
                      <span>11</span>
                      <small class="price">R$ 620,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-04" name="data" value="2022-10-04" />
                  <label for="2022-10-04">
                    <p class="day">
                      <span>18</span>
                      <small class="price">R$ 600,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-04" name="data" value="2022-10-04" />
                  <label for="2022-10-04">
                    <p class="day">
                      <span>25</span>
                      <small class="price">R$ 680,00</small>
                    </p>
                  </label>
                </div>
              </div>
              <div class="weekday">
                <p>Qui</p>
                <div>
                  <input type="radio" id="2022-10-05" name="data" value="2022-10-05" />
                  <label for="2022-10-05">
                    <p class="day">
                      <span>5</span>
                      <small class="price">R$ 560,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-05" name="data" value="2022-10-05" />
                  <label for="2022-10-05">
                    <p class="day">
                      <span>12</span>
                      <small class="price">R$ 450,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-05" name="data" value="2022-10-05" />
                  <label for="2022-10-05">
                    <p class="day">
                      <span>19</span>
                      <small class="price">R$ 580,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-05" name="data" value="2022-10-05" />
                  <label for="2022-10-05">
                    <p class="day">
                      <span>26</span>
                      <small class="price">R$ 750,00</small>
                    </p>
                  </label>
                </div>
              </div>
              <div class="weekday">
                <p>Sex</p>
                <div>
                  <input type="radio" id="2022-10-06" name="data" value="2022-10-06" />
                  <label for="2022-10-06">
                    <p class="day">
                      <span>6</span>
                      <small class="price">R$ 890,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-06" name="data" value="2022-10-06" />
                  <label for="2022-10-06">
                    <p class="day">
                      <span>13</span>
                      <small class="price">R$ 820,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-06" name="data" value="2022-10-06" />
                  <label for="2022-10-06">
                    <p class="day">
                      <span>20</span>
                      <small class="price">R$ 650,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-06" name="data" value="2022-10-06" />
                  <label for="2022-10-06">
                    <p class="day">
                      <span>27</span>
                      <small class="price">R$ 750,00</small>
                    </p>
                  </label>
                </div>
              </div>
              <div class="weekday">
                <p>Sáb</p>
                <div>
                  <input type="radio" id="2022-10-07" name="data" value="2022-10-07" />
                  <label for="2022-10-07">
                    <p class="day">
                      <span>7</span>
                      <small class="price">R$ 980,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-07" name="data" value="2022-10-07" />
                  <label for="2022-10-07">
                    <p class="day">
                      <span>14</span>
                      <small class="price">R$ 570,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-07" name="data" value="2022-10-07" />
                  <label for="2022-10-07">
                    <p class="day">
                      <span>21</span>
                      <small class="price">R$ 670,00</small>
                    </p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="2022-10-07" name="data" value="2022-10-07" />
                  <label for="2022-10-07">
                    <p class="day">
                      <span>28</span>
                      <small class="price">R$ 820,00</small>
                    </p>
                  </label>
                </div>
              </div>
            </section>
            <button class="btn-submit" type="submit">Escolher</button>
          </form>
        </div>
      </div>

      <!-- O que foi buscado-->
      <div class="w3-container">
        <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
          <img src="/img/lupa.png">
        </div>
      </div>

      <!-- Resultados da busca -->
      <section>
        <article>
          lalala
        </article>
      </section>

    </main>

    <%-include("parts/footer.ejs") %>

  </body>

</html>