<header>
    <link rel="stylesheet" href="/css/header.css">
  <div class="logo-texto">
    <img class="logo" src="/img/logo.png" alt="Logo da empresa">
    <div>
      <p>Pé Na</p>
      <p>Estrada</p>
    </div>

  </div>
  <div>
    <a class="link-secundario" href="/ajuda">Ajuda</a>
    <button class="botao-secundario">Português Brasil</button>
    <button class="botao-primario" type='submit'>ENTRAR</button>
  </div>
</header>

<body class="w3-light-grey">


   <div class="w3-bar w3-deep-orange">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openLink(event, &#39;Passagens aéreas&#39;);"><i
        class="fa fa-plane w3-margin-right"></i>Passagens aéreas</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, &#39;Hotel/Acomodações&#39;);"><i
        class="fa fa-bed w3-margin-right"></i>Hotel/Acomodações</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, &#39;Aluguel de Carro&#39;);"><i
        class="fa fa-car w3-margin-right"></i>Aluguel de Carro</button>
  </div> -->