<header>
  <link rel="stylesheet" href="/css/header.css">
  <div class="logo-texto">
    <img class="logo" src="/img/logo.png" alt="Logo da empresa">
    <div>
      <p>Pé Na</p>
      <p>Estrada</p>
    </div>
  </div>
  <div>
    <a class="link-secundario" href="/ajuda">Ajuda</a>
    <button class="botao-secundario">Português Brasil</button>
    <a class="botao-primario" href="/usuarios/entrar">ENTRAR</a>
  </div>
</header>